* {
   margin: 0;
   align-items: center;

}

body {
   background-color: #3e3e3f;

}

.header {
   color: rgba(255, 255, 255, 0.805);
   background-color: rgba(0, 0, 0, 0.914);
   margin: auto;
   align-items: center;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   height: 56px;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 100000;
}

.header .logo {
   display: flex;
}

.menu img {
   width: 100%;

}

.menu {
   position: absolute;
   width: 100%;
   top: 0;
   margin: 0px 0px;
   height: 56px;

   padding: 0px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.menu li {
   text-align: center;
   align-items: center;
   display: block;
   list-style: none;
   font-size: 20px;
   width: calc(50% /10);
   padding: 13px;
}

.menu li:hover {
   background-color: #333;
   opacity: 1;
   border-bottom: 1px solid #323232;

}

/* banner */
.container {
   margin-top: 77px;
   color: white;
   height: 100%;
   width: 100%;
}

.banner img {
   width: 100%;
   object-fit: fill;
   overflow: auto;
}

.bg-item img {
   z-index: -1000;
   position: absolute;
   width: 100%;
}

/* main */
.main {
   margin: auto;
   width: 100%;
   height: 100px;
}

.main_fsale {
   background-color: rgba(0, 0, 0, 0.493);
   align-items: center;
   margin: auto;
   width: 70%;
   height: 400px;
   padding: 10px;
   border-radius: 15px;
}

.clock {
   font-size: 30px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

.clock span {
   background-color: black;
   padding: 7px 7px;
   border-radius: 10px;

}

.product {
   z-index: 100;
   display: flex;
   width: 100%;
   align-items: center;
   /* width: calc(100% /6); */
   align-items: center;

}

.product img {
   width: 100%;
}

.product-item {
   margin: 5px;
   width: 100%;
   height: 30%;
   padding: 10px 2px;
   border-radius: 15px;
   text-align: center;
   background-color: #323232;
}

#new {
   color: #ff9921;
}

#old {
   color: gray;
   text-decoration: line-through;
}

.product-item:hover {
   box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.select {
   width: 100%;
   height: 400px;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;

}

.select-item {
   background-image: url(https://i.pinimg.com/564x/d1/3c/16/d13c164def1ef0692f0a044ff407e28a.jpg);
   width: calc(50% / 4);
   height: 60%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   border-radius: 20px;
   margin: 10px;
   margin-top: 30px;
}

.select-item:hover {
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* logo sản phẩm */
.product-all{
   width: 100%;
}
.brand{
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.brand-logo {
   width: 15%;
   align-items: center;
}

.brand-logo {
   background-image: url(https://i.pinimg.com/564x/e5/21/9f/e5219fd7e38c2f83f75127d4d627d9e8.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   align-items: center;
   border-radius: 40px;
   margin: 30px;
}

.brand-logo h1 {
   margin: 0px;
   padding: 30px;
}

.brand-product {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;

   
}

/* sẩn phảm */
.brand-product-item {
   width: calc(60% /4);
   padding: 35px 0px;
   background-color: #323232;
   text-align: center;
   align-items: center;
   border-radius: 30px;
   margin: 10px;
   

}
.brand-product-item img{
   width: 100%;
}
.brand-product-item:hover {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.news {
   width: calc(70% / 3);
   text-align: start;
   background-color: #323232;
   padding: 5px 5px;
   border-radius: 20px;
   margin: 10px;
   margin-top: 100px;
}

.news img {
   border-radius: 20px;
}

.News-TekZone {
   height: 100%;
   width: 250px;
   align-items: center;
   background-image: url(https://i.pinimg.com/564x/e5/21/9f/e5219fd7e38c2f83f75127d4d627d9e8.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   align-items: center;
   border-radius: 40px;
   margin: 30px;

   
}
.TekZone{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}
.News-TekZone h1 {
   margin: 0px;
   padding: 30px;
}

.news:hover {
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.news9{
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
}


footer {
   background-color: black;
   color: white !important;
   width: 100%;
}




.link {
   width: 100%;
   font-size: 10px;
   margin: auto;
   padding: 100px 0px;
   text-align: center;
   display: flex;
   justify-content: center;
}

table tr,
td {
   width: 10%;
}

td:hover {
   color: skyblue;
}

th a:hover {
   color: aqua;
}

a {
   text-decoration: none;
   color: white;
}

.fter-logo {
   
}